.card-custom {
	background-color: #adb5bd;
	z-index: 3px;
}

.del_btn {
	float: right;
}

.tbody {
	background-color: #adb5bd;
	display: block;
}
.button_loading {
    background: url('https://media3.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif') no-repeat 50% 50%;
    /* apply other styles to "loading" buttons */
}